.nvbar {
    background-color: rgb(36, 36, 36);
}

.btn {
    background-color: green;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: darkgreen;
}

.text {
    color: white;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
}

.icon {
    width: 5%;
    height: 5%;
    margin-right: 40px;
}

.title {
    width: 100%;
}

div.style {
    background-color: rgb(36,36,36);
}

.position {
    margin-top: -50px;
}

div.style2 {
    background-color: rgb(40,40,40);
    opacity: 86%;
    border-radius: 16px;
}