.back {
    background-color: rgb(12,12,12);
}

.nvbar {
    background-color: rgb(36, 36, 36);
}

.btn {
    background-color: green;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: darkgreen;
}

.text {
    color: white;
}

.icon {
    width: 5%;
    height: 5%;
    margin-right: 40px;
}