<!-- Config file for the game -->

<config>
   <app framerate_cap="60">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <gui>
      <atlas file="Assets/textures/gui/Ui_Atlas.png"/>
      <icons file="Assets/textures/gui/icons.png"/>
  </gui>
  <fonts>
    <default_font file="Assets/fonts/alagard.ttf"/>
    <font_size big="38" small="28" xs="22"/>
  </fonts>
  <audio>
    <music>
      <folder>Assets/Audio/Music/</folder>
      <volumemusic value="1.0"/>
    </music>
    <fx>
      <folder>Assets/Audio/SFX/</folder>
      <volumefx value="1.0"/>
    </fx>
  </audio>
  
  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>Assets/textures/maps/</folder>
  </map>
  <minimap width="225" corner="bottom_left" margin="15"/>

  <entity_manager>
    <spritesheet test_1="Assets/textures/sprites/human_footman.png"/>
   </entity_manager>
  
   <scene>
     <map name="maplevel1.tmx"/>
     <logo file="Assets/textures/gui/LogoSheet.png"/>
     <team_logo file="Assets/textures/gui/TeamLogoSheet.png"/>
   </scene>

  <wave>
    <spawnpoints>
      <spawnpoint1 x="1050" y="850"/>
      <spawnpoint2 x="850" y="2800"/>
      <spawnpoint3 x="2200" y="3800"/>

    </spawnpoints>
  </wave>
</config>